h1 {
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 0.89);
    top: 40px;
    font-size: 50px;
    font-family: 'Cinzel', serif;
}

h2 {
    font-family: 'Quicksand', sans-serif;;
    position: relative;
    left: 250px;
    top: 25px;
    color: #000000;
}

h3 {
    position: relative;
    font-size: 30px;
    left: 42%;
    top: 125px;

}

.nggh3 {
    position: relative;
    font-size: 20px;
    left: 15%;
    top: 200px;
    font-weight: lighter;
}

.the_guess {
    position: relative;
    font-size: 17px;
    left: 15%;
    top: 280px;
    width: 425px;
    font-family: Times;
}

.nggbutton {
    position: relative;
    font-size: 17px;
    right: 218px;
    top: 430px;
    width: 120px;
    height: 30px;
}

.message {
    position: relative;
    font-size: 20px;
    left: 15%;
    top: 270px;
    font-weight: lighter;
    color: red;
}

.guesses {
    position: relative;
    font-size: 20px;
    left: 52%;
    top: 68px;
    font-family: Georgia;
    font-weight: lighter;
}

hr {
    position: relative;
    font-size: 30px;
    left: 250px;
    top: 30px;
}

.scoreboard {
    position: absolute;
    left: 398px;
    top: 85px;
    font-size: 18px;
    color: rgb(76, 76, 76);
    text-decoration: none;
    padding: 5px 20px;
    font-family: Cuprum, Arial;
    font-size: 20px;
    font-weight: lighter;
}

.logout {
    position: absolute;
    left: 520px;
    top: 85px;
    font-size: 18px;
    color: rgb(76, 76, 76);
    text-decoration: none;
    padding: 5px 20px;
    font-family: Cuprum, Arial;
    font-size: 20px;
    font-weight: lighter;
}

.dotthree {
    position: absolute;
    left: 517px;
    top: 85px;
    font-size: 30px;
}

.nggbutton {
    background-color: #0200d6;
    color: white;
}

.returnlink:visited {
    color: #0200d6;
}

.returnlink:link {
    color: #0055ff;
}

.returnlink:hover {
    color: darkblue;
}

.allguesses {
    font-weight: lighter;
}

.home {
    position: absolute;
    left: 233px;
    top: 85px;
    font-size: 18px;
    color: rgb(76, 76, 76);
    text-decoration: none;
    padding: 5px 20px;
    font-family: Cuprum, Arial;
    font-size: 20px;
    font-weight: lighter;
}

.profile {
    position: absolute;
    left: 315px;
    top: 85px;
    font-size: 18px;
    color: rgb(76, 76, 76);
    text-decoration: none;
    padding: 5px 20px;
    font-family: Cuprum, Arial;
    font-size: 20px;
    font-weight: lighter;
}

body {
    background-color: #F7F7F7;
}

header {
    width: 100%;
    height: 140px;
    background-color: white;
}

.dotone {
    position: absolute;
    left: 310px;
    top: 85px;
    font-size: 30px;
}

.dottwo {
    position: absolute;
    left: 395px;
    top: 85px;
    font-size: 30px;
}

.underline {
    position: absolute;
    top: 57.5%;
    left: 32%;
}

.choices {
    color: black;
    position: absolute;
    background-color: transparent;
    top: 54%;
    left: 32%;
    width: 500px;
    height: 40px;
    font-size: 23px;
    border: transparent;
}

.button {
    position: absolute;
    top: 67%;
    left: 44%;
    width: 150px;
    height: 35px;
    font-size: 20px;
    background-color: #1220cb;
    border: transparent;
    text-decoration: none;
    color: white;
}

.tgh3 {
    position: relative;
    font-size: 20px;
    top: 200px;
    left: 320px;
    font-weight: lighter;
}

.tgh3two {
    position: relative;
    font-size: 20px;
    top: 290px;
    left: 320px;
    font-weight: lighter;
}

.people_number {
    position: relative;
    font-size: 15px;
    width: 300px;
    font-weight: lighter;
    top: 154px;
    left: 480px;
}

.group_number {
    position: relative;
    font-size: 15px;
    width: 300px;
    font-weight: lighter;
    top: 268px;
    left: 170px;
}

.nggfinishthree {
    position: relative;
    left: 18px;
    font-size: 40px;
}

.wonbackground {
    background-color: #fff71b;
}

.wonlabel {
    color: white;
    font-family: Impact;
    font-size: 150px;
}

.nggwinp {
    position: relative;
    color: white;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: 25px;
    bottom: 150px;
}

.nggfinishone {
    font-size: 100px;
    position: relative;
    top: 150px;
}

.tgmessage {
    position: relative;
    font-size: 20px;
    left: 320px;
    top: 290px;
    font-weight: lighter;
    color: red;
}

.tgform {
    position: relative;
    font-size: 20px;
    left: -160px;
    top: 100px;
    font-weight: lighter;
}

.tgcontinuebutton {
    position: relative;
    font-size: 20px;
    left: 1140px;
    top: 7px;
    width: 130px;
    height: 35px;
    background-color: #0200d6;
    color: white;
}

.mainscoreboard {
    font-family: "American Typewriter";
}

.main {
    font-weight: lighter;
    top: 100px;

}

.score{
    position: relative;
    font-size: 40px;
    top: 10px;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}