{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body class="loginbackground">
<h1 class="loginh1">Signup</h1>
<form method ="POST" align="center">
    <input type="text" name="usersignup" placeholder="Username:" class="logininput">
    <br>
    <input type="password" name="passwordsignup" placeholder="Password:" class="logininput">
    <br>
    <input type="password" name="retype_password" placeholder="Retype Password:" class="logininput">
    <br>
    <button type="submit" class="loginbutton">Signup</button>
</form>
{% if error_message %}
<p class="loginmessage">{{ error_message }}</p>
{% endif %}
<br>
<p align="center" class="loginp">Already have an account? <a href="/login" class="logina">Login Now</a></p>
</body>
{% endblock %}