{% extends "layout.html" %}
{% block content %}
<title>Number Guessing Game</title>
<h1>Welcome To The Number Guessing Game!</h1>
<h3 class="nggh3">Choose a number:</h3>
<form method="POST">
<input class="the_guess" type="number" name="guess">
<button type="submit" class="nggbutton">Guess</button>
</form>
<br>
<h4 class="message">
Message:
{{ message }}
</h4>
</br><br>
<h4 class="guesses">
You have guessed:<br><br>
{%for guess in ngg.guesses%}
{{ guess }}: {{ ngg.guesses[guess] }}
<br>
{% endfor %}
<br><br><br>
Return <a class="returnlink" href="/home">home</a>
</h4>
{% endblock %}