{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Team Generator</title>
</head>
<body>
<div class="tgdiv">
{% for i in range(1, team_number+1)%}
    <br>
    <br>
    TEAM {{ i }}:
    {% for p in people %}
        {% if teams[p] == i %}
            {% if p not in the_list %}
            {{ " , " + p}}
            {% else %}
            {{ p }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}
<br><br><br>
<form method="POST">
<button type="submit" name="tggfinishbutton" class="tgbutton">Repick</button>
</form>
</div>
</body>
{% endblock %}