{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Team Generator</title>
</head>
<body>
<h1>
    Welcome To The Team Generator!
</h1>
<h3 class="tgh3">Number of people:</h3>
<h3 class="tgh3two">Number of groups:</h3>
<form method="POST">
    <input type="number" name="people_number" placeholder="Type in a number between 2-10000" class="people_num">
    <input type="number" name="group_number" placeholder="Type in a number between 2-1000" class="group_number">
    <button type="submit" name="tgstartbutton" class="tgstartbutton">Submit</button>
</form>
<h4 class="tgmessage">
{{ message }}
</h4>
</body>
{% endblock %}